h1{
  border:5px dashed black;
  padding: 20px; 
  margin:20px; 
  text-align: center; 
  color: 3E7A4D;
  font-family: Impact;
}
body{
	background-color:#BAFFCB;}

h2{
  font-family: Impact;
  font-size: 1em;
}
footer{
  text-align: center; margin: 20px;
}


.column-1 {
  width: 48%;
  display: inline-block;
  vertical-align:top;
}

.column-2 {
  width: 48%;
  display: inline-block;
}

#italic{
  font-style:italic;
}