#contact-info{
	font-size: .8em;
}
.job{
	background-color: #e9e5dc;
	border-radius: 15px;
	padding: 5px;
	margin-top: 10px;
}
.accomplishments{
	font-size: .8em;
}

ul > li {
  color: #8b2323;
}

/*pseudo selectors: A CSS pseudo-class is a keyword added to selectors that 
specifies a special state of the element to be selected;

selector: pseudo-class{
	property:value;
	]

ex: a: hover{
	font-color: blue;
	}

The element>element selector is used to select elements with a specific parent.
Can be used to select the child element of another element*/