<html>
<head>
  <title>Student Interests</title>
  <link rel="stylesheet" href="styles.css">
</head>
<body>
  <h1>Student Background</h1>
  <p>Welcome to the student background page.</p>
  <p>Our students are from all over. See below.</p>
  <ul>
    <% @students.each do |student| %>
      <li><%= student['name'] %>, <%= student['campus'] %></li>
    <% end %>
  </ul>
</body>
</html>